@import url('../fonts.css');
body::-webkit-scrollbar {
    width: 0px; /* عرض نوار اسکرول را صفر می‌کند */
    background: transparent; /* پس‌زمینه نوار اسکرول را شفاف می‌کند */
}
a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}
.neonText{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #cfc800,
      0 0 82px #cfc800,
      0 0 92px #cfc800,
      0 0 102px #cfc800,
      0 0 151px #cfc800;
      animation: pulsate 1.5s infinite alternate;  
  }
  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfc800,
        0 0 80px #cfc800,
        0 0 90px #cfc800,
        0 0 100px #cfc800,
        0 0 150px #cfc800;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #cfc800,
      0 0 45px #cfc800,
      0 0 55px #cfc800,
      0 0 70px #cfc800,
      0 0 80px #cfc800;
  
  }}

body *{
    font-family: Tanha;
}
body{
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
h1{
    margin-top: 10px;
    color: #fff;
}
#h-im{
    margin-top: 8%;
}
@keyframes title {
    
    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    
    }
    
    0% {

        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0ff,
        0 0 45px #0ff,
        0 0 55px #0ff,
        0 0 70px #0ff,
        0 0 80px #0ff;

}}  
#heading{
    margin: 40px;
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 70px;
    color: #fff;
    /* box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; */
}

.name{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#copyRight{
    color: white
}
#author{
    font-family: Emza;
}
.icon-wrp{
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon{
    font-size:48px;
    color:#fbe1d2;
    margin-left: 10%;
}
.icon-wrp>h2{
    color:#fbe1d2;
}
h2{
    margin: 0;
}
#side-wrp{
    display: flex;
}
#logo-wrp{
    border-bottom: 3px dashed #d7d00297;
    width: 100%;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrp.active *{
    color: #8dffea;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
#content-wrp{
    min-height: calc( 100vh - 88px );
}
.bio{
    display: flex;
    gap: 5px;
    align-items: center;
}
#books{
    display: grid;
    grid-template-columns: calc(25% - 15px)  calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    width: 92%;
    gap: 25px;
    row-gap: 100px;
}
.book{
    cursor: pointer;
    width: 100%;
    /* background-color: red; */
    border-radius: 5px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe,
    0 0 1.4rem #bc13fe,
    inset 0 0 0.7rem #bc13fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book > img{
    /* margin: 5% 0; */
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
    transition: all 1.5s cubic-bezier(0.62, 0.02, 0.74, 0.47)
}
.book > img:hover{
    mask-image: none;
}
.book > h2{
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    animation: title 2s infinite alternate;  
    margin-bottom: 20px;
}
.task-bar{
    margin: 40px 0;
}
select{
    border-radius: 10px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #bc13fe,
    0 0 0.4rem #bc13fe,
    0 0 1.4rem #bc13fe,
    inset 0 0 0.7rem #bc13fe;
    width: 100%;
    height: 40px;
    outline-color: #bc13fe;
    background-color: transparent;
    padding: 2px 7px;
    color: #fbe1d2;
    font-size: large;
    cursor: pointer;
}
option{
    background-color: #483052;
}
option:disabled{
    background-color: #7b598a;
    color: #000;
}

@media only screen and (min-width: 1025px) {
    /*حالت عادی*/
    /*کامپیوتر لپتاپ لارج*/
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 85%;
        background-color: #012720;
        justify-content: center;
        align-items: center;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 15%;
        background-color: #012720;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        margin: 3% 0;
        margin-top: 0;

    }
    h1{
        font-size: 2.7em;
    }
    .icon-wrp{
        margin-top: 30px;
        margin-right: 10%;

    }
    #logo-wrp{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    /*محتوای وسط تک ستونی*/
    /* لپتاپ */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 85%;
        background-color: #012720;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 17%;
        background-color: #012720;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        margin: 7% 0;
        margin-top: 0;        
    }
    .icon{
        font-size: 36px;
    }
    h2{
        font-size: 1.3em;
    }
    .icon-wrp{
        margin-top: 30px;
        margin-right: 10%;

    }
    #logo-wrp{
        margin-bottom: 35px;
    }
    #books{
        display: grid;
        grid-template-columns: calc(33% - 8px)  calc(33% - 8px) calc(33% - 8px);
        width: 95%;
        gap: 16px;
    }
}


@media only screen and (max-width: 769px){
    /*منو زیر*/
    /* مینی */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #main{
        margin: 5% 0;
        margin-top: 0;

    }
    #content-wrp{
        background-color: #012720;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 85px;
    }

    #side-wrp{
        z-index: 999;
        display: flex;
        height: 85px;
        width: 100%;
        background-color: #012720;    
        border-top: 3px solid #fbe1d2;
        position: fixed;
        bottom: 0;
        margin: 0;
        justify-content: space-around;
    }

    h3{
        font-size: 1.2em;
    }
    .icon-wrp{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 71px;
    }
    #menu-br{
        display: none;
    }
    #logo-wrp{
        border-bottom: none;
        border-left: 3px dashed #d7d00297;
        width: 60px;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.2em;
    }
    #books{
        display: grid;
        grid-template-columns: calc(33% - 8px)  calc(33% - 8px) calc(33% - 8px);
        width: 95%;
        gap: 16px;
    }
    #typography{
        width: 90%;
    }
    .book > img{
        mask-image: none;
        transition: all 1.5s cubic-bezier(0.62, 0.02, 0.74, 0.47);
        border-bottom: 2px dashed #cfc800;
    }
    .book > h2{
        margin: 15px 0;
    }
    .book{
        background-color: #01493c;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    h3{
        font-size: 1.2em;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.4em;
    }
}
@media only screen and (max-width: 450px) {
    h3{
        font-size: 0.9em;
    }
    h4{
        font-size: 0.8em;
    }
    .icon{
        font-size: 24px;
    }
    #logo-wrp{
        display: none;
    }
    h2{
        font-size: 1em;
    }
    h1{
        font-size: 1.9em;
    }
    /* #heading{
        padding: 0 5%;
    } */
}
@media only screen and (max-width: 510px) {
    #books{
        display: grid;
        grid-template-columns: calc(50% - 8px)  calc(50% - 8px);
        width: 95%;
        gap: 16px;
    }
    select{
        font-size: medium;
        height: 35px;
    }
}
.hid {
    display: none;
}
