@import url('../fonts.css');
body::-webkit-scrollbar {
    width: 0px; /* عرض نوار اسکرول را صفر می‌کند */
    background: transparent; /* پس‌زمینه نوار اسکرول را شفاف می‌کند */
}
a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}
body *{
    font-family: Tanha;
}


body{
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
h1{
    margin-top: 8%;
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    animation: timer 2s infinite alternate;  

    
}
@keyframes timer {
    
    100% {

        text-shadow:
        0 0 4px #bc13fe,
        0 0 11px #bc13fe,
        0 0 19px #bc13fe,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    
    }
    
    0% {

        text-shadow:
        0 0 2px #bc13fe,
        0 0 4px #bc13fe,
        0 0 6px #bc13fe,
        0 0 10px #0ff,
        0 0 45px #0ff,
        0 0 55px #0ff,
        0 0 70px #0ff,
        0 0 80px #0ff;

}}  
#heading{
display: flex;
justify-content: center;
}
.table{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    border-radius: 29px;
    background-image: linear-gradient(#0b937c,#005446);
    transition: 0.5s;
}
.table:hover{
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}
.person.p5{
    background-color: #088671;
}
.title-table{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    border-radius: 15px;
    width: 70%;
    height: 50px;
    border-radius: 42px;
    border-radius: 42px;
    background: #3df58d;
    box-shadow: 
    1px 1px 25px #186238,
    -1px -1px 25px #62ffe235,
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
    transition: 0.3s;
}
.title-table:hover{
    position: relative;
    top: -20px;
    border-radius: 15px;
    width: 70%;
    height: 50px;
    border-radius: 42px;
    border-radius: 42px;
    background: #3df58d;
    box-shadow: inset 5px 5px 26px #186238,
    inset -5px -5px 26px #62ffe2,
    1px 1px 25px #186238,
    -1px -1px 25px #62ffe235;;
    transform: scale(1.05);
}


.name{
    width: 90%;
    height: 100%;
}
.person{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    
    margin: 1%;
    margin-bottom: 60px;
    margin-top: 10px;
    width: 80%;
    background-color: #0b937c;
    border: 3px #012d25bc solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    box-shadow: inset 4px -8px 4px 0px rgb(4 4 4 / 19%),
    inset -1px 3px 5px 3px rgb(0 0 0 / 12%);
    max-width: 1200px;
    
    transition: background-color 0.3s, transform 0.3s;
}
.person:hover {
    transform: scale(1.03);
}
.my-level{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px double #ffffff74;
    border-radius: 50px;
    margin-top: 20px;
    padding: 0.006%;
    color: #cfc800;
}
h3{
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}
.bio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100%;
}
.profile{
    height: calc(100% - 6px);
    border-radius: 50%;
}
.the-title{
    color: #116644;
}
.table-co{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100% ;
}
#copyRight{
    color: rgb(0, 0, 0)
}
#author{
    font-family: Emza;
}
.name-my-table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
}
.person.my-rank{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
}
.person.my-rank:hover{
    transform: scale(1.09);
}
.person.my-rank>h4{
    margin: 0;
}
.rank-num{
    border: 5px dotted #cfc800;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}
.icon-wrp{
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon{
    font-size:48px;
    color:#fbe1d2;
    margin-left: 10%;
}
.icon-wrp>h2{
    color:#fbe1d2;
}
h2{
    margin: 0;
}
#side-wrp{
    display: flex;
}
#logo-wrp{
    border-bottom: 3px dashed #d7d00297;
    width: 100%;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    margin-bottom: 15px;
}
h3{
    margin: 10px;
    font-weight: 800;
}
pre{
    display: inline;
}
label{
    font-weight: 600;
}
.option{
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
    margin-right: 5px;
}
.option-l.text{
    text-align: start;
}


input[type="radio"] {
    display: none; /* پنهان کردن دکمه‌های رادیویی پیش‌فرض */
}

label.cir {
    display: block;
    cursor: pointer; /* تغییر نشانگر ماوس */
    padding: 10px;
    background-color: white;
    border: 2px solid #bc13fe; /* رنگ مرزی */
    border-radius: 50%; /* گوشه‌های گرد */
    width: 2.5px;
    height: 2.5px;
    min-width: 2.5px;
    min-height: 2.5px;
}

input[type="radio"]:checked + label {
    background-color: #bc13fe; /* رنگ پس‌زمینه هنگام انتخاب */
    border: 4px solid white; /* رنگ مرزی */
    outline: 2px solid #bc13fe;
    width: 2px;
    height: 2px;
    min-width: 2px;
    min-height: 2px;
    padding: 7px;
    margin-right: 1px;
}

#timer{
    margin: 20px;
    background-color: transparent;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 99;
}
input[type='submit']{
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: solid;
    background-color: green;
    color: #fbe1d2;
    cursor: pointer;
}
@media only screen and (min-width: 1025px) {
    /*حالت عادی*/
    /*کامپیوتر لپتاپ لارج*/
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 100%;
        background-image: radial-gradient(#fbe1d2,rgb(250, 198, 168));
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 15%;
        background-color: #fbe1d2;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 2.7em;
    }
    input[type='submit']{
        width: 180px;
        height: 50px;
        font-size: large;
    }
    
}

@media only screen and (max-width: 1024px) and (min-width: 770px) {
    /*محتوای وسط تک ستونی*/
    /* لپتاپ */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 100%;
        background-color: #ceaa95;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 17%;
        background-color: #fbe1d2;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1%;

    }
    .icon{
        font-size: 36px;
    }
    h2{
        font-size: 1.3em;
    }
    .icon-wrp{
        margin-top: 30px;
        margin-right: 10%;

    }
    #logo-wrp{
        margin-bottom: 35px;
    }
    input[type='submit']{
        width: 150px;
        height: 40px;
        font-size: large;
    }

}


@media only screen and (max-width: 769px){
    /*منو زیر*/
    /* مینی */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1%;
    }
    #content-wrp{
        background-color: #ceaa95;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #side-wrp{
        z-index: 999;
        display: flex;
        height: 85px;
        width: 100%;
        background-color: #fbe1d2;    
        border-top: 3px solid #fbe1d2;
        position: fixed;
        bottom: 0;
        margin: 0;
        justify-content: space-around;
    }
    .table{
        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe; 
    }
    h3{
        font-size: 1.2em;
    }
    .bio{
        gap: 15px;
    }
    .icon-wrp{
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    #logo-wrp{
        border-bottom: none;
        border-left: 3px dashed #d7d00297;
        width: 60px;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.2em;
    }
    input[type='submit']{
        width: 150px;
        height: 40px;
        font-size: large;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    h3{
        font-size: 1.2em;
    }
    .bio{
        gap: 15px;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.4em;
    }
}
@media only screen and (max-width: 450px) {
    h3{
        font-size: 15px;
    }

    h4{
        font-size: 0.65em;
    }
    .the-title{
        font-size: 1.2rem;
    }
    .icon{
        font-size: 24px;
    }
    #logo-wrp{
        display: none;
    }
    h2{
        font-size: 1em;
    }
    h1{
        font-size: 1.9em;
    }
    label{
        font-size: 12px;
        font-weight: 600;
    }
    input[type='submit']{
        width: 120px;
        height: 35px;
        font-size: large;
    }
}

