@import url('../fonts.css');
body::-webkit-scrollbar {
    width: 0px; /* عرض نوار اسکرول را صفر می‌کند */
    background: transparent; /* پس‌زمینه نوار اسکرول را شفاف می‌کند */
}
a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}
.neonText{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #cfc800,
      0 0 82px #cfc800,
      0 0 92px #cfc800,
      0 0 102px #cfc800,
      0 0 151px #cfc800;
      animation: pulsate 1.5s infinite alternate;  
  }
  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #cfc800,
        0 0 80px #cfc800,
        0 0 90px #cfc800,
        0 0 100px #cfc800,
        0 0 150px #cfc800;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #cfc800,
      0 0 45px #cfc800,
      0 0 55px #cfc800,
      0 0 70px #cfc800,
      0 0 80px #cfc800;
  
  }}

body *{
    font-family: Tanha;
}
body{
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
h1,.acts-title{
    margin-top: 10px;
    color: #fff;
    /* text-shadow: */
    /* 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff; */
    /* animation: login 2s infinite alternate;   */
}
#h-im{
    margin-top: 8%;
    border-radius: 10px;
}
@keyframes login {
    
    100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    
    }
    
    0% {

        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0ff,
        0 0 45px #0ff,
        0 0 55px #0ff,
        0 0 70px #0ff,
        0 0 80px #0ff;

}}  
#heading{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.name{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#copyRight{
    color: white
}
#author{
    font-family: Emza;
}
.icon-wrp{
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon{
    font-size:48px;
    color:#fbe1d2;
    margin-left: 10%;
}
.icon-wrp>h2{
    color:#fbe1d2;
}
h2{
    margin: 0;
}
#side-wrp{
    display: flex;
}
#logo-wrp{
    border-bottom: 3px dashed #d7d00297;
    width: 100%;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrp.active *{
    color: #8dffea;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
#content-wrp{
    min-height: calc( 100vh - 88px );
}


p{
    padding: 5px 10%;
    color: #fbe1d2;
}
form, .activisms, .comment{
    width: 100%;
    background-color: #fbe1d2;
    border-radius: 10px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activisms{
    background-color: #fff;
    max-width: 1000px;
}
textarea{
    width: 84%;
    margin-top: 3%;
    padding: 6px;
    height: 100px;
    border-radius: 10px;
    outline-color: #bc13fe;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px dashed rgb(11, 120, 55);
    width: calc(84% - 10px);
    padding: 6px;
    height: 100px;
    border-radius: 10px;
    outline-color: #bc13fe;
    cursor: pointer;
    resize: none;
}
input[type='submit']{
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: solid;
    background-color: green;
    color: #fbe1d2;
    width: 120px;
    height: 35px;
    cursor: pointer;
}
input[type='submit'].rep-but{
    margin-top: 10px;
}
.activism{
    margin: 10px 2px;
    padding: 10px 4px;
    border: #012720 solid 3px;
    /* background-color: #bc13fe; */
    width: calc(95% - 6px);
}
.bio{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-right: 10px;
}
.bio > img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #000;
}
.bio > h3{
    margin: 0;
}
.act-body{
    display: flex;
    margin: 10px 0;
}
.act-body > img{
    width: 35%;
    height: 100%;
    border-radius: 10px;
}
.act-content{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.hiddener{
    font-size: x-large;
    margin-left: 25px;
}
.act-content > span{
    padding: 0px 0;
}
.act-foot{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 10px;
}
.date-co{
    font-size: 15px;
}
.comment-co > p , .like-co > p{
    display: inline;
    padding: 1px;
    color: #000;
}
.comment-co , .like-co{
    width: 50px;
    font-size: large;
    cursor: pointer;
}
.task-co{
    display: flex;
    gap: 30px;
}
i.heart.liked{
    color: red;
}
.act-head{
    display: flex;
    justify-content: space-between;
}
.replay-co{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    padding-top: 8px;
}
i.heart{
    color: rgba(171, 171, 171, 0.95);
}
i.heart.liked{
    color: red;
}
.comment{
    border: #012720 dashed 2px;
    background-color: transparent;
}
.com-head{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
}
.com-head > h4{
    margin: 5px 0;
}
.com-body{
    padding: 10px;
}
.com-body{
    font-size: 15px;
    width: 90%;
    max-width: 90%;
}
.acts-title{
    font-size: xx-large;
    margin-bottom: 10px;
}
.req {
    cursor: pointer;
    background-color: #008c7b;
    border: none;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
    border-radius: 8px;
    width: 20%;
    height: 50px;
    color: #fff;
    text-shadow: 0 0 7px #bc13fe,
    0 0 10px #bc13fe,
    0 0 21px #bc13fe,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    min-width: 180px;
    transition: 0.5s;
    margin: 1px 10px;
}
input[type='submit'].rep-com-2page{
    margin-top: 10px;
}
@media only screen and (min-width: 1025px) {
    /*حالت عادی*/
    /*کامپیوتر لپتاپ لارج*/
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 85%;
        background-color: #012720;
        justify-content: center;
        align-items: center;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 15%;
        background-color: #012720;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        margin: 3%;
        margin-top: 0;

    }
    h1{
        font-size: 2.7em;
    }
    .icon-wrp{
        margin-top: 30px;
        margin-right: 10%;

    }
    #logo-wrp{
        margin-bottom: 40px;
    }
    .hiddener{
        display: none;
    }
    .act-body > img{
        display: inline;
    }
    .act-body{
        padding: 0 10px;
    }

    
}
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    /*محتوای وسط تک ستونی*/
    /* لپتاپ */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #content-wrp{
        width: 85%;
        background-color: #012720;
    }
    #side-wrp{
        flex-direction: column;
        position: sticky;
        top: 0;
        width: 17%;
        background-color: #012720;    
        border-left: 3px solid #fbe1d2;
        height: 100vh;
    }
    #main{
        margin: 10%;
        margin-top: 0;        
    }
    .icon{
        font-size: 36px;
    }
    h2{
        font-size: 1.3em;
    }
    .icon-wrp{
        margin-top: 30px;
        margin-right: 10%;

    }
    #logo-wrp{
        margin-bottom: 35px;
    }
    .act-body{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .act-body > img{
        width: 90%;
    }
    .act-content{
        width: calc( 90% - 14px );
        padding: 3px 7px;
    }
    .acts-title{
        font-size: x-large;
        margin-bottom: 8px;
    }
}


@media only screen and (max-width: 769px){
    /*منو زیر*/
    /* مینی */
    #continer{
        display: flex;
        width: 100%;
        height: auto;
    }
    #main{
        margin: 10%;
        margin-top: 0;

    }
    #content-wrp{
        background-color: #012720;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 85px;
    }

    #side-wrp{
        z-index: 999;
        display: flex;
        height: 85px;
        width: 100%;
        background-color: #012720;    
        border-top: 3px solid #fbe1d2;
        position: fixed;
        bottom: 0;
        margin: 0;
        justify-content: space-around;
    }

    h3{
        font-size: 1.2em;
    }
    .icon-wrp{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 71px;
    }
    #menu-br{
        display: none;
    }
    #logo-wrp{
        border-bottom: none;
        border-left: 3px dashed #d7d00297;
        width: 60px;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.2em;
    }
    .act-body{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .act-body > img{
        width: 90%;
    }
    .act-content{
        width: calc( 90% - 14px );
        padding: 3px 7px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    h3{
        font-size: 1.2em;
    }
    .icon{
        font-size: 30px;
    }
    h2{
        font-size: 1.4em;
    }
    h1{
        font-size: 2.4em;
    }
}
@media only screen and (max-width: 450px) {
    h3{
        font-size: 0.9em;
    }
    h4{
        font-size: 0.8em;
    }
    .icon{
        font-size: 24px;
    }
    #logo-wrp{
        display: none;
    }
    h2{
        font-size: 1em;
    }
    h1{
        font-size: 1.9em;
    }
    p.discription{
        padding: 2px 4%;
        font-size: .8em;
    }
    label{
        font-size: .8em;
    }
    .act-head{
        padding-right: 3px;

    }
    .acts-title{
        font-size: large;
        margin-bottom: 8px;
    }
}
@media only screen and (max-width: 510px) {
    .bio > img{
        width: 35px;
    }
    .task-co{
        gap: 0px;
    }
    .date-co{
        font-size: 12px;
    }
    .act-content > span{
        font-size: 13px;
    }
    .com-body{
        padding: 0px 6px 10px 6px;
        font-size: 12px;
    }
    .windows{
        display: none;
    }
    .req {
        font-size: 0.7em;
    }
}
.hid {
    display: none;
}
.sharp{
    color: blue;
}
