@import url('../fonts.css');
body *{
    font-family: Tanha;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}


details{
    border: 3px dashed black;
    padding: 7px;
    border-radius: 7px;
    width: 80%;
    margin-bottom: 20px;
}

summary{
    font-weight: bold;
}

p.prima , #primalink{
    direction: ltr;
    margin-top: 0;
}

form > h2{
    margin-bottom: 0;
}

details > img{
    width: 90%;
    padding-right: 5%;
}

form > input[type='file']{
    display: none;
}

form > label{
    background-color: #62a3ea; /* رنگ پس‌زمینه دکمه بروزرسانی */
    color: white; /* رنگ متن دکمه */
    border: none; /* بدون حاشیه */
    border-radius: 4px; /* گوشه‌های گرد */
    cursor: pointer; /* نشانگر ماوس */
    margin-top: 20px;
    padding: 5px;
    border-radius: 12px;
    margin: 5px;
    margin-right: calc((100% - 85px) / 2);
}

input[type='button']{
    background-color: #5cb85c;
    border: 2px solid black;
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}

input[type='button'].quiz{
    background-color: #b85c9b;
    color: white;
    border: 2px solid black;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
    margin-bottom: 20px;
}

input[type='button']:hover{
    background-color: #4cae4c;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.book-co {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.hid {
    display: none; /* مخفی کردن بخش اطلاعات */
}

/* استایل برای ورودی‌ها و دکمه‌ها */
input[type=text], .form-select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #007bff; /* رنگ پس‌زمینه دکمه */
    color: white; /* رنگ متن دکمه */
    border: none; /* بدون حاشیه */
    border-radius: 4px; /* گوشه‌های گرد */
    cursor: pointer; /* نشانگر ماوس */
}

button:hover {
    background-color: #9dc6f3; /* رنگ پس‌زمینه در حالت هاور */
}

form.form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

form.form *{
    margin: 12px;
    width: 520px;
    padding: 10px;
}

form.form > select{
    width: 542px;
}

form.form > textarea{
    resize: vertical
}

form.form > label{
    background-color: white;
    display: block;
    border-radius: 15px;
    border: 4px dashed black;
    display: flex;
    justify-content: center;
    color: black;
    padding: 25px 0;
}

select{
    padding-right: 25px;
}

ul{
    margin-top: 0;
    margin-bottom: 1rem;
}