{% extends "Base.html" %}
{% block head %}
    <title>کنش ها</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/comments.css') }}">

{% endblock %}
{% block body %}
<div class="navbar">
    <ul>
      <li><a href="{{ url_for('admin.dashboard') }}">داشبورد</a></li>
      <li><a href="{{ url_for('admin.books') }}">کتاب ها</a></li>
      <li><a href="{{ url_for('admin.activisms') }}">کنش ها</a></li>
      <li><a href="{{ url_for('admin.comments') }}">نظرات</a></li>
      <li><a href="{{ url_for('admin.requests') }}">درخواست ها</a></li>
      <li><a href="{{ url_for('admin.data') }}">مدیریت اطلاعات</a></li>
      <li><a href="{{ url_for('admin.logout') }}">خروج</a></li>
    </ul>
  </div>
  <div class="container">
    {% if activisms | length == 0 %}
    <div class="comm-co">
        <h2>کنشی در حالت بررسی نیست!</h2>
    </div>
    {% endif %}
    {% for a in activisms %}
    <div class="comm-co" data-activism-id="{{a.id}}">
        <h3>{{a.user.name}}</h3>
        <details>
            <summary>تصویر کنش</summary>
            <img src="/static/activisms/{{a.id}}.jpg" alt="">
        </details>
        <p>{{a.content}}</p>
        <p class="prima">{{a.time}}</p>
        <div class="buttons">
            <input type="button" onclick="confirm(this,'confirmed')" value="تائید کنش">
            <input type="button" onclick="confirm(this,'rejected')" value="رد کنش">
        </div>
    </div>
    {% endfor %}
  </div>

<script>
    function check(){
        var parentDiv = document.querySelector('.container');
        var children = parentDiv.children; // دریافت تمامی فرزندان

        // شمارش فرزندان با display != 'none'
        var visibleChildrenCount = 0;

        for (var i = 0; i < children.length; i++) {
            if (children[i].style.display !== 'none') {
                visibleChildrenCount++;
            }
        }
        if (visibleChildrenCount == 0) {
            para = document.createElement("div");
            para.innerHTML = "<h2>کنشی در حالت بررسی نیست!</h2>";
            para.classList.add("comm-co")
            parentDiv.appendChild(para);
        }
    }
    function confirm(item,status){
        activism_id = item.parentNode.parentNode.getAttribute("data-activism-id")
        form = new FormData()
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{url_for("admin.activism_api", _external=True)}}', true);
    
    
        var data = { 'csrf_token': '{{ csrf_token() }}', 'activism': activism_id, 'status':status };
        
        for (var key in data) {
            form.append(key, data[key]);
        }
        xhr.onreadystatechange = function() {
            // بررسی وضعیت درخواست
            if (xhr.readyState === XMLHttpRequest.DONE) {
              // بررسی کد وضعیت پاسخ
              if (xhr.status === 200) {
                // 4. تبدیل پاسخ به JSON
                var jsonResponse = JSON.parse(xhr.responseText);
                if (jsonResponse['status'] == '200'){
                    item.parentNode.parentNode.style.display = 'none'
                    check()
                }
              } else {
                console.error('Error: ' + xhr.status);
              }
            }
        };
    
        xhr.send(form);
    }

</script>
{% endblock %}