{% extends "Base.html" %}
{% block head %}
    <title>کتاب ها</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/books.css') }}">

{% endblock %}
{% block body %}
<div class="navbar">
    <ul>
      <li><a href="{{ url_for('admin.dashboard') }}">داشبورد</a></li>
      <li><a href="{{ url_for('admin.books') }}">کتاب ها</a></li>
      <li><a href="{{ url_for('admin.activisms') }}">کنش ها</a></li>
      <li><a href="{{ url_for('admin.comments') }}">نظرات</a></li>
      <li><a href="{{ url_for('admin.requests') }}">درخواست ها</a></li>
      <li><a href="{{ url_for('admin.data') }}">مدیریت اطلاعات</a></li>
      <li><a href="{{ url_for('admin.logout') }}">خروج</a></li>
    </ul>
  </div>
<div class="container">

    <form action="#" class="form" method="post" enctype="multipart/form-data">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="mode" id="mode" value="add">
    
        <label for="photo" id="L-photo">عکس جلد کتاب را اینجا بارگذاری کنید (600*400)</label>
        <input type="file" name="photo" id="photo" onchange="rename()" accept="image/*">
        
        <input type="text" name="name" id="name" placeholder="نام کتاب">
        
        <textarea type="text" name="about" id="about" placeholder="توضیحات کتاب"></textarea>
        
        <select name="grade" id="grade" class="form-select">
            <option disabled selected id="title_grade" value="">پایه مورد نظر :</option>
            <option value="1">دوره اول ابتدایی</option>
            <option value="2">دوره دوم ابتدایی</option>
            <option value="3">دوره متوسطه اول</option>
            <option value="4">دوره متوسطه دوم</option>
            <option value="0">فرهنگیان</option>
        </select>
    
        <input type="text" name="primalink" id="primalink" placeholder="Book ID (0-9 , a-Z , _ )" onkeypress="return isValidChar(event)">
        
        <button type="submit" id="submit">ثبت کتاب</button>
    </form>
    
    
    {% for b in books %}
    <div class="book-co" id="{{b.id}}">
        <h2>{{b.name}}</h2>
        <p class="prima">/{{b.primalink}}</p>
        <details>
            <summary>جلد کتاب</summary>
            <img src="/static/books/{{b.id}}.jpg" alt="">
            <br>
            <form id="upload-file{{b.id}}" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <label for="photo-edit{{b.id}}" class="custom-file-upload">ویرایش جلد</label>
                <input class="file-inp edit" name="photo" id="photo-edit{{b.id}}" type="file" onchange="edit_photo(this)" accept="image/*">
            </form>
        </details>
        <details>
            <summary>توضیحات کتاب</summary>
            <p>{{b.about}}</p>
        </details>
        <details>
            <summary>مقطع کتاب</summary>
            <p>{{"دوره اول ابتدایی" if b.grade == 1 else "دوره دوم ابتدایی" if b.grade == 2 else "دوره متوسطه اول" if b.grade == 3 else "دوره متوسطه دوم" if b.grade == 4 else "فرهنگیان"}}</p>
        </details>
        <a href="/admin/quiz/{{b.primalink}}"><input type="button" class="quiz" value="آزمون این کتاب"></a>
        <div class="buttons">
            <input type="button" value="ویرایش"
            onclick="edit(this)">
            <input type="button" value="حذف"
            onclick="del_book(this,{{b.id}})">
        </div>
    </div>
    {% endfor %}
</div>


<script>
    function isValidChar(event) {
      const allowedChars = /^[a-zA-Z0-9--_]+$/;
      return allowedChars.test(event.key);
    }
</script>


<script type="module">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == "book_edit_success"%}
                swal({
                    title: 'ویرایش کتاب!',
                    html: 'کتاب مورد نظر با موفقیت ویرایش شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})


                {%elif message == "book_add_success"%}
                swal({
                    title: 'کتاب جدید!',
                    html: 'کتاب مورد نظر با موفقیت اضافه شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})

                
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>









<script>
    document.querySelector("#mode").value = "add";
    document.querySelector("#submit").innerText = "ثبت کتاب";
    
    document.querySelector("#name").value = null;
    document.querySelector("#about").value = null;
    document.querySelector("#primalink").value = null;

    
    document.querySelector("#title_grade").selected = "selected";

    
    function edit(e) {
        const row = e.parentNode.parentNode;

        const id = row.id;
        const name = row.children[0].innerText;
        const about = row.children[3].children[1].innerHTML;
        console.log(about);
        const grade = row.children[4].children[1].innerHTML;
        const primalink = row.children[1].innerText;
        
        
        document.querySelector("#submit").innerText = "ویرایش کتاب";
        document.querySelector("#submit").style.backgroundColor = "#00d0ff";
        document.querySelector("#mode").value = id;
        document.querySelector("#L-photo").style.display = 'none';
        
        
        document.querySelector("#name").value = name;
        document.querySelector("#about").value = about;
        document.querySelector("#primalink").value = primalink;

        const grade_list = document.querySelector("#grade").children
        for (var i=1;i<=grade_list.length;i++){
            var element = grade_list[i]
            if (element.innerText == grade){
                element.selected = "selected";
                break
            };
        } 
        window.scrollTo(0, 0);
        const ta = document.getElementById('about');
        ta.style.height = (ta.scrollHeight) + 'px'; // تنظیم ارتفاع بر اساس محتوای داخلی
    };
    
    
    
    function del_book(e,id){
        swal({
            title: 'آیا از حذف این کتاب اطمینان دارید؟',
            html: 'با حذف این کتاب تمام کنش ها و آزمون های مربوطه حذف می شوند!',
            type: 'warning',
            reverseButtons: true,
            showCancelButton: true,
            confirmButtonColor: '#dc1225',
            confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تایید</div>',
            cancelButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;border: 3 solid #ffd700;"><i style="margin-left: 5px;" class="fa fa-times"></i> انصراف</div>',
            showLoaderOnConfirm:true,
            allowOutsideClick:false,
            showCloseButton: false,
            focusConfirm: true,
        }).then((result) => {
            if(result.value){
                const xhr = new XMLHttpRequest();
                var url = '/admin/del-book/'+id+'?status=true'
                xhr.open('GET',url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send();
                e.parentNode.parentNode.style.display = "none";
                swal({
                    title: 'حذف کتاب!',
                    html: 'کتاب مورد نظر به همراه تمام کنش ها و آزمون هایش با موفقیت حذف شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();
                    setInterval(function() {
                        location.reload();
                }, 250);
            })  
        };
    });
}



function edit_photo(e) {
    const id = e.parentNode.parentNode.parentNode.id
    var form = document.getElementById(`upload-file${id}`);
    var formData = new FormData(form);
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', `/admin/photo-book/${id}`, true);
    
    xhr.onload = function() {
        if (xhr.status === 200) {
            swal({
                title: 'ویرایش کتاب!',
                html: 'جلد کتاب مورد نظر با موفقیت ویرایش شد.',
                type: 'success',
                confirmButtonColor: '#3f9b0b',
                confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                showCloseButton: true,
                showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();
                    setInterval(function() {
                        location.reload();
                    }, 250)});
                } else {
                    console.error('خطا: ' + xhr.status);
                }
            };
            
            xhr.send(formData);
        };
        

        
    </script>

    <script>
        function rename(){
            var inputFile = document.getElementById("photo");
            var fileName = inputFile.files[0].name; // نام اولین فایل انتخاب شده
            document.getElementById("L-photo").innerText= `فایل انتخابی : ${fileName}`;
        }
    </script>
    
    
{% endblock %}