{% extends "Base.html" %}
{% block head %}
    <title>admin | students</title>
    <style>
        #k_class .c10 {
            background-color: aquamarine;
        }
        #k_class .c11 {
            background-color: rgb(129, 255, 127);
        }
        #k_class .c12 {
            background-color: rgb(244, 127, 255);
        }
        td,th,tr {
            border: 2px black solid; 
            text-align: center; 
        }
        input[type="file"].edit {
            display: none;
        }

        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            background-color: #bef5f6;
            color: white;
            border-radius: 4px;
        }
        
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.min.css') }}">
    <script defer src="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.all.min.js') }}"></script>
{% endblock %}
{% block body %}

<form action="#" method="post" enctype="multipart/form-data">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="mode" id="mode" value="add">

    <label for="photo" id="L-photo">عکس کتاب</label>
    <input type="file" name="photo" id="photo" accept="image/*">
    
    <label for="name" id="L-name">نام کتاب :</label>
    <input type="text" name="name" id="name" placeholder="مثلا : مسافر هشتم">
    
    <label for="about" id="L-about">توضیحات کتاب :</label>
    <textarea type="text" name="about" id="about" placeholder="مثلا : رضایی"></textarea>
    
    <select name="grade" id="grade">
        <option disabled selected id="title_grade" value="">پایه مورد نظر :</option>
        <option value="1">دوره اول ابتدایی</option>
        <option value="2">دوره دوم ابتدایی</option>
        <option value="3">دوره متوسطه اول</option>
        <option value="4">دوره متوسطه دوم</option>
        <option value="0">فرهنگیان</option>
    </select>

    <label for="primalink" id="L-primalink">پیوند یکتا :</label>
    <input type="text" name="primalink" id="primalink" placeholder="مثلا : mosafer_hashtom" onkeypress="return isValidChar(event)">
    
    <button type="submit" id="submit">ثبت کتاب</button>
</form>






<table>
    <tr>
        <th>جلد</th>
        <th>نام</th>
        <th>توضیحات</th>
        <th>پایه</th>
        <th>پیوند یکتا</th>
        <th>ویرایش</th>
        <th>تغییر جلد</th>
        <th>حذف</th>
    </tr>
    {% for b in books %}
    <tr id="{{b.id}}">
        <td><a href="/static/books/{{b.id}}.jpg">جلد</a></td>
        <td>{{b.name}}</td>
        <td style="white-space: pre-wrap;">{{b.about}}</td>
        <td>{{"دوره اول ابتدایی" if b.grade == 1 else "دوره دوم ابتدایی" if b.grade == 2 else "دوره متوسطه اول" if b.grade == 3 else "دوره متوسطه دوم" if b.grade == 4 else "فرهنگیان"}}</td>
        <td>{{b.primalink}}</td>
        <td onclick="edit(this)">ویرایش</td>
        <td><form id="upload-file{{b.id}}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="photo-edit{{b.id}}" class="custom-file-upload">ویرایش جلد</label>
            <input class="file-inp edit" name="photo" id="photo-edit{{b.id}}" type="file" onchange="edit_photo(this)" accept="image/*">
        </form></td>
        <td>
            <input type="button" value="Eliminar"
            onclick="del_book(this,{{b.id}})">
        </td>
    </tr>
    {% endfor %}
</table>


<br><br>

<script>
    function isValidChar(event) {
      const allowedChars = /^[a-zA-Z0-9--_]+$/;
      return allowedChars.test(event.key);
    }
</script>


<script type="module">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == "book_edit_success"%}
                swal({
                    title: 'ویرایش کتاب!',
                    html: 'کتاب مورد نظر با موفقیت ویرایش شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})


                {%elif message == "book_add_success"%}
                swal({
                    title: 'کتاب جدید!',
                    html: 'کتاب مورد نظر با موفقیت اضافه شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})

                
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>









<script>

    
    
    
    
    document.querySelector("#mode").value = "add";
    document.querySelector("#submit").innerText = "ثبت کتاب";
    
    document.querySelector("#name").value = null;
    document.querySelector("#about").value = null;
    document.querySelector("#primalink").value = null;
    
    document.querySelector("#title_grade").selected = "selected";

    
    function edit(e) {
        const row = e.parentNode;

        const id = row.id;
        const name = row.children[1].innerText;
        const about = row.children[2].innerText;
        const grade = row.children[3].innerText;
        const primalink = row.children[4].innerText;
        ;
        
        document.querySelector("#submit").innerText = "ویرایش کتاب";
        document.querySelector("#mode").value = id;
        
        
        document.querySelector("#name").value = name;
        document.querySelector("#about").value = about;
        document.querySelector("#primalink").value = primalink;
        
        const grade_list = document.querySelector("#grade").children
        for (var i=1;i<=grade_list.length;i++){
            var element = grade_list[i]
            if (element.innerText == grade){
                element.selected = "selected";
                break
            };
        }
        
    };
    
    
    
    function del_book(e,id){
        swal({
            title: 'آیا از حذف این کتاب اطمینان دارید؟',
            html: 'با حذف این کتاب تمام کنش ها و آزمون های مربوطه حذف می شوند!',
            type: 'warning',
            reverseButtons: true,
            showCancelButton: true,
            confirmButtonColor: '#dc1225',
            confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تایید</div>',
            cancelButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;border: 3 solid #ffd700;"><i style="margin-left: 5px;" class="fa fa-times"></i> انصراف</div>',
            showLoaderOnConfirm:true,
            allowOutsideClick:false,
            showCloseButton: false,
            focusConfirm: true,
        }).then((result) => {
            if(result.value){
                const xhr = new XMLHttpRequest();
                var url = '/admin/del-book/'+id+'?status=true'
                xhr.open('GET',url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send();
                e.parentNode.parentNode.style.display = "none";
                swal({
                    title: 'حذف کتاب!',
                    html: 'کتاب مورد نظر به همراه تمام کنش ها و آزمون هایش با موفقیت حذف شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();
                    setInterval(function() {
                        location.reload();
                }, 250);
            })  
        };
    });
}



function edit_photo(e) {
    const id = e.parentNode.parentNode.parentNode.id
    var form = document.getElementById(`upload-file${id}`);
    var formData = new FormData(form);
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', `/admin/photo-book/${id}`, true);
    
    xhr.onload = function() {
        if (xhr.status === 200) {
            swal({
                title: 'ویرایش کتاب!',
                html: 'جلد کتاب مورد نظر با موفقیت ویرایش شد.',
                type: 'success',
                confirmButtonColor: '#3f9b0b',
                confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                showCloseButton: true,
                showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();
                    setInterval(function() {
                        location.reload();
                    }, 250)});
                } else {
                    console.error('خطا: ' + xhr.status);
                }
            };
            
            xhr.send(formData);
        };
        

        
    </script>
    
    
{% endblock %}