{% extends "Base.html" %}
{% block head %}
    <title>سوالات کتاب {{book.name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/quiz.css') }}">

{% endblock %}
{% block body %}
<div class="navbar">
    <ul>
      <li><a href="{{ url_for('admin.dashboard') }}">داشبورد</a></li>
      <li><a href="{{ url_for('admin.books') }}">کتاب ها</a></li>
      <li><a href="{{ url_for('admin.activisms') }}">کنش ها</a></li>
      <li><a href="{{ url_for('admin.comments') }}">نظرات</a></li>
      <li><a href="{{ url_for('admin.requests') }}">درخواست ها</a></li>
      <li><a href="{{ url_for('admin.data') }}">مدیریت اطلاعات</a></li>
      <li><a href="{{ url_for('admin.logout') }}">خروج</a></li>
    </ul>
  </div>
  <div class="container">
    <form action="#" method="post" enctype="multipart/form-data">
        <h3>آپلود فایل کتاب ها</h3>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
          type="file"
          name="file"
          id="file"
          accept=".xlsx,.xls"
          class="hidden-file"
          onchange="rename()"
        />
        <label for="file" id="lable_file">آپلود فایل سوالات کتاب {{book.name}} (excel)</label>
        
        <input id="time" type="number" name="time" value="{{book.time}}" min="30" placeholder="زمان به ثانیه (مثلا : 60)">
        <input id="number" type="number" name="number" value="{{book.number}}" max="{{len(questions)}}" placeholder="تعداد سوالات در هر آزمون">
        <input type="submit" value="ثبت تغییرات"/>
    </form>
    <br><br><br>
    {% for q in questions %}
    <div class="comm-co" data-comment-id="{{q.id}}">
        <h3>{{q.text}}</h3>
        <div class="options">
            <div class="option">
                <input type="radio" name="{{q.id}}" id="o{{q.id}}_1" disabled {{'checked' if q.answer == q.option1 }}>
                <label for="o{{q.id}}_1">{{q.option1}}</label>
            </div>
            <div class="option">
                <input type="radio" name="{{q.id}}" id="o{{q.id}}_2" disabled {{'checked' if q.answer == q.option2 }}>
                <label for="o{{q.id}}_2">{{q.option2}}</label>
           </div>
            <div class="option">
                <input type="radio" name="{{q.id}}" id="o{{q.id}}_3" disabled {{'checked' if q.answer == q.option3 }}>
                <label for="o{{q.id}}_3">{{q.option3}}</label>
            </div>
            <div class="option">
                <input type="radio" name="{{q.id}}" id="o{{q.id}}_4" disabled {{'checked' if q.answer == q.option4 }}>
                <label for="o{{q.id}}_4">{{q.option4}}</label>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  
<script>
    function rename(){
        var inputFile = document.getElementById("file");
        var fileName = inputFile.files[0].name; // نام اولین فایل انتخاب شده
        document.getElementById("lable_file").innerText= `فایل انتخابی : ${fileName}`;
    }
</script>

{% endblock %}