{% extends "Base.html" %}
{% block head %}
    <title>admin | students</title>
    <style>
        #k_class .c10 {
            background-color: aquamarine;
        }
        #k_class .c11 {
            background-color: rgb(129, 255, 127);
        }
        #k_class .c12 {
            background-color: rgb(244, 127, 255);
        }
        table * {
            border: 2px black solid;  
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.min.css') }}">
    <script defer src="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.all.min.js') }}"></script>
{% endblock %}
{% block body %}

<form action="#" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="mode" id="mode" value="add">
    
    <label for="firstName" id="L-firstName"></label>
    <input type="text" name="firstName" id="firstName" placeholder="برای مثال : علی">

    <label for="lastName" id="L-lastName"></label>
    <input type="text" name="lastName" id="lastName" placeholder="برای مثال : رضایی">
    
    <label for="userName" id="L-userName"></label>
    <input type="text" name="userName" id="userName" placeholder="برای مثال : ali.rezaee">

    <label for="password" id="L-password"></label>
    <input type="password" name="password" id="password" placeholder="برای مثال : asdahdgas">

    <label for="code" id="L-code"></label>
    <input type="number" name="code" id="code" placeholder=" برای مثال : 0371234567">

    <label for="number" id="L-number">آمار:</label>
    <input type="number" name="number" id="number" placeholder="برای مثال : 15" max="99" min="1">
    
    <button type="submit" id="submit">ثبت دانش آموز</button>
</form>






<table>
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>کلاس</th>
        <th>آمار</th>
        <th>نام کاربری</th>
        <th>رمز عبور</th>
        <th>کد ملی</th>
        <th>ویرایش</th>
        <th>حذف</th>
    </tr>
    {% for u in users %}
    <tr id="{{u.id}}" class="{{u.class_id}}">
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.grade}} {{u.class_name}} {{u.field}}</td>
        <td>{{u.number}}</td>
        <td>{{u.username}}</td>
        <td>{{u.password}}</td>
        <td>{{u.code}}</td>
        <td onclick="edit(this)">ویرایش</td>
        <td>
            <input type="button" value="Eliminar"
            onclick="del_class(this,{{u.id}})">
        </td>
    </tr>
    {% endfor %}
</table>


<br><br>
<a href="/admin/dashboard"> بازگشت</a>



<script type="module">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == "edit success"%}
                swal({
                    title: 'ویرایش دانش‌آموز!',
                    html: 'دانش‌آموز مورد نظر با موفقیت ویرایش شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})


                {%elif message == "add success"%}
                swal({
                    title: 'دانش‌آموز جدید!',
                    html: 'دانش‌آموز مورد نظر با موفقیت اضافه شد.',
                    type: 'success',
                    confirmButtonColor: '#3f9b0b',
                    confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})

                
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>









<script>
    document.querySelector("#mode").value = "add";

    function edit(e) {
        const row = e.parentNode;

        const id = row.id;
        const class_id = row.classList[0]
        const firstName = row.children[0].innerText;
        const lastName = row.children[1].innerText;
        const number = row.children[3].innerText;
        const userName = row.children[4].innerText;
        const password = row.children[5].innerText;
        const code = row.children[6].innerText;

        document.querySelector("#submit").innerText = "ویرایش دانش آموز";
        document.querySelector("#mode").value = id;


        document.querySelector("#firstName").value = firstName;
        document.querySelector("#lastName").value = lastName;
        document.querySelector("#userName").value = userName;
        document.querySelector("#password").value = password;
        document.querySelector("#code").value = code;
        document.querySelector("#number").value = number;

        const class_list = document.querySelector("#k_class").children
        
        for (var i=1;i<=class_list.length;i++){
            var element = class_list[i]
            if (element.value == class_id){
                element.selected = "selected";
                break
            };
        }
    };



    function del_class(e,id){
        swal({
            title: 'آیا از حذف این دانش‌آموز اطمینان دارید؟',
            html: 'با حذف این دانش‌آموز تمام نتایج آزمون هایش حذف می شوند!',
            type: 'warning',
            reverseButtons: true,
            showCancelButton: true,
            confirmButtonColor: '#dc1225',
            confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تایید</div>',
            cancelButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;border: 3 solid #ffd700;"><i style="margin-left: 5px;" class="fa fa-times"></i> انصراف</div>',
            showLoaderOnConfirm:true,
            allowOutsideClick:false,
            showCloseButton: false,
            focusConfirm: true,
        }).then((result) => {
        if(result.value){
            const xhr = new XMLHttpRequest();
            var url = '/admin/dashboard/del-students/'+id+'?status=true'
            xhr.open('GET',url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send();
            e.parentNode.parentNode.style.display = "none";
            swal({
                title: 'حذف دانش‌آموز!',
                html: 'دانش‌آموز مورد نظر به همراه تمام نتایج آزمون هایش با موفقیت حذف شد.',
                type: 'success',
                confirmButtonColor: '#3f9b0b',
                confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                showLoaderOnConfirm:true,
                allowOutsideClick:false,
            }).then((result) => {swal.close();
                setInterval(function() {
                    location.reload();
                }, 250);
            })  
        };
      });
    }







</script>










{% endblock %}