<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.min.css') }}">
    <script defer src="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.all.min.js') }}"></script>
    {% block head%}{% endblock %}
    <link rel="shortcut icon" href="/static/main_img/favicon.ico" type="image/x-icon">
</head>
<body>
    {% block body%}{% endblock %}
    {% include 'payments_alert.html' %}
</body>
</html>