{% extends "Base.html" %}
{% block head %}
    <title>دانا پلاس شو</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/activism.css') }}">
{% endblock %}
{% block body %}

    <div id="continer">
        <div id="side-wrp">
            <div id="logo-wrp">
                <img id="logo" src="" alt="">
            </div>
            <a href="{{ url_for('user.home') }}" class="icon-wrp">
                <i class="fa fa-home icon"></i>
                <h2>خانه </h2>
            </a>
            <a href="{{ url_for('user.activism') }}" class="icon-wrp active">
                <i class="fa fa-comments icon"></i>
                <h2>کنشگری </h2>
            </a>
            <a href="{{ url_for('user.club') }}" class="icon-wrp">
                <i class="fa fa-trophy icon"></i>
                <h2>باشگاه </h2>
            </a>
            <a href="{{ url_for('user.profile') }}" class="icon-wrp">
                <i class="fa fa-user-circle icon"></i>
                <h2>پروفایل </h2>
            </a>
            <a href="{{ url_for('user.ticket') }}" class="icon-wrp">
                <i class="fa fa-life-saver icon"></i>
                <h2>تیکت </h2>
            </a>
        </div>
        <div id="content-wrp">
            <div id="heading">
                <img id="typography" src="{{ url_for('static', filename='main_img/typo.png') }}" alt="">
            </div>
            <div id="main">
                <div id="books">
                    {% for b in books %}
                    <div class="book" onclick=" window.location.href = '/activism/{{b.primalink}}' ">
                        <img src="/static/books/{{b.id}}.jpg" alt="">
                        <h2>{{b.name}}</h2>
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <div id="footer">
                <h4 id="copyRight">© تمام حقوق برای مسابقه دانا پلاس شو محفوظ است</h4>
            </div>
        </div>
    </div>
{% endblock %}