{% extends "Base.html" %}
{% block head %}
    <title>باشگاه</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/club.css') }}">
    {% endblock %}
    {% block body %}
    <div id="continer">
        <div id="side-wrp">
            <div id="logo-wrp">
                <img id="logo" src="" alt="">
            </div>
            <a href="{{ url_for('user.home') }}" class="icon-wrp">
                <i class="fa fa-home icon"></i>
                <h2>خانه </h2>
            </a>
            <a href="{{ url_for('user.activism') }}" class="icon-wrp">
                <i class="fa fa-comments icon"></i>
                <h2>کنشگری </h2>
            </a>
            <a href="{{ url_for('user.club') }}" class="icon-wrp active">
                <i class="fa fa-trophy icon"></i>
                <h2>باشگاه </h2>
            </a>
            <a href="{{ url_for('user.profile') }}" class="icon-wrp">
                <i class="fa fa-user-circle icon"></i>
                <h2>پروفایل </h2>
            </a>
            <a href="{{ url_for('user.ticket') }}" class="icon-wrp">
                <i class="fa fa-life-saver icon"></i>
                <h2>تیکت </h2>
            </a>
        </div>
        <div id="content-wrp">
            <div id="heading">
                <h1>باشگاه</h1>
            </div>
            <div id="main">
                <div class="table-co" id="invite-table-co">
                    <div class="table" id="invite-table">
                        <div class="title-table">
                            <h2 class="the-title">بیشترین دعوت</h2>
                        </div>
                        <div class="name">
                            {%for i in top_invites%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{loop.index}}</h4>
                                <div class="bio">
                                    <img class="profile" src="{{ url_for('static', filename='main_img/user.jpg') }}" alt="">
                                    <h3 class="neonText">{{i.name}}</h3>
                                </div>
                                <h4>{{i.invite}}</h4>
                            </div>
                            {% endfor %}
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="my-level">
                                <h4>{{rank_invites}}</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>{{current_user.invite}}</h4>
                            </div>
                            {% else %}
                            <div class="my-level">
                                <h4>?</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>?</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-co" id="like-table-co">
                    <div class="table" id="like-table">
                        <div class="title-table">
                            <h2 class="the-title">بیشترین لایک</h2>
                        </div>
                        <div class="name">
                            {%for i in top_likes%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{loop.index}}</h4>
                                <div class="bio">
                                    <img class="profile" src="{{ url_for('static', filename='main_img/user.jpg') }}" alt="">
                                    <h3 class="neonText">{{i.name}}</h3>
                                </div>
                                <h4>{{i.like}}</h4>
                            </div>
                            {% endfor %}
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="my-level">
                                <h4>{{rank_likes}}</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>{{current_user.like}}</h4>
                            </div>
                            {% else %}
                            <div class="my-level">
                                <h4>?</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>?</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-co" id="point-table-co">
                    <div class="table" id="point-table">
                        <div class="title-table">
                            <h2 class="the-title">بیشترین امتیاز</h2>
                        </div>
                        <div class="name">
                            {%for i in top_points%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{loop.index}}</h4>
                                <div class="bio">
                                    <img class="profile" src="{{ url_for('static', filename='main_img/user.jpg') }}" alt="">
                                    <h3 class="neonText">{{i.name}}</h3>
                                </div>
                                <h4>{{i.point}}</h4>
                            </div>
                            {% endfor %}
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="my-level">
                                <h4>{{rank_points}}</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>{{current_user.point}}</h4>
                            </div>
                            {% else %}
                            <div class="my-level">
                                <h4>?</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>?</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-co" id="coin-table-co">
                    <div class="table" id="coin-table">
                        <div class="title-table">
                            <h2 class="the-title">بیشترین سکه</h2>
                        </div>
                        <div class="name">
                            {%for i in top_coins%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{loop.index}}</h4>
                                <div class="bio">
                                    <img class="profile" src="{{ url_for('static', filename='main_img/user.jpg') }}" alt="">
                                    <h3 class="neonText">{{i.name}}</h3>
                                </div>
                                <h4>{{i.coin}}</h4>
                            </div>
                            {% endfor %}
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="my-level">
                                <h4>{{rank_coins}}</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>{{current_user.coin}}</h4>
                            </div>
                            {% else %}
                            <div class="my-level">
                                <h4>?</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>?</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-co" id="badge-table-co">
                    <div class="table" id="badge-table">
                        <div class="title-table">
                            <h2 class="the-title">بیشترین نشان</h2>
                        </div>
                        <div class="name">
                            {%for i in top_badges%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{loop.index}}</h4>
                                <div class="bio">
                                    <img class="profile" src="{{ url_for('static', filename='main_img/user.jpg') }}" alt="">
                                    <h3 class="neonText">{{i.name}}</h3>
                                </div>
                                <h4>{{i.badge}}</h4>
                            </div>
                            {% endfor %}
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="my-level">
                                <h4>{{rank_badges}}</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>{{current_user.badge}}</h4>
                            </div>
                            {% else %}
                            <div class="my-level">
                                <h4>?</h4>
                                <div class="bio">
                                    <h3 class="neonText">{{current_user.name}}</h3>
                                </div>
                                <h4>?</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-co" id="my-table-co">
                    <div class="table" id="my-table">
                        <div class="title-table">
                            <h2 class="the-title">رتبه‌های من</h2>
                        </div>

                        <div class="name-my-table">
                            {% if current_user.authentication==1 and current_user.final==1%}
                            <div class="person my-rank my-name neonText">
                                <h3>{{current_user.name}}</h3>
                                <h3>امتیاز : {{current_user.point}}</h3>
                            </div>
                            <div class="person my-rank country neonText">
                                <h3>رتبه شما در کشور:</h3>
                                <h3 class="rank-num">{{rank_points}}</h3>
                            </div>
                            <div class="person my-rank province neonText">
                                <h3>رتبه شما در استان {{current_user.province}}:</h3>
                                <h3 class="rank-num">{{province_rank}}</h3>
                            </div>
                            <div class="person my-rank city neonText">
                                <h3>رتبه شما در شهر {{current_user.city}}:</h3>
                                <h3 class="rank-num">{{city_rank}}</h3>
                            </div>
                            {% else %}
                            <div class="person my-rank my-name neonText">
                                <h3>{{current_user.name}}</h3>
                                <h3><a href="{{url_for('user.completion')+'?next=/club'}}">مشاهده رتبه های من</a></h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <h4 id="copyRight">© تمام حقوق برای مسابقه دانا پلاس شو محفوظ است</h4>
            </div>
            </div>
        </div>
    </div>
{% endblock %}