{% extends "Base.html" %}
{% block head %}
    <title>دعوت از دوستان | دانا پلاس شو</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/invites.css') }}">
    {% endblock %}
    {% block body %}
    <div id="continer">
        <div id="side-wrp">
            <div id="logo-wrp">
                <img id="logo" src="" alt="">
            </div>
            <a href="{{ url_for('user.home') }}" class="icon-wrp">
                <i class="fa fa-home icon"></i>
                <h2>خانه </h2>
            </a>
            <a href="{{ url_for('user.activism') }}" class="icon-wrp">
                <i class="fa fa-comments icon"></i>
                <h2>کنشگری </h2>
            </a>
            <a href="{{ url_for('user.club') }}" class="icon-wrp">
                <i class="fa fa-trophy icon"></i>
                <h2>باشگاه </h2>
            </a>
            <a href="{{ url_for('user.profile') }}" class="icon-wrp">
                <i class="fa fa-user-circle icon"></i>
                <h2>پروفایل </h2>
            </a>
            <a href="{{ url_for('user.ticket') }}" class="icon-wrp">
                <i class="fa fa-life-saver icon"></i>
                <h2>تیکت </h2>
            </a>
        </div>
        <div id="content-wrp">
            <div id="heading">
                <h1>دعوت ها</h1>
            </div>
            <div id="main">
                <div class="table-co" id="invite-table-co">
                    <div class="table" id="invite-table">
                        <div class="title-table">
                            <h2 class="the-title">آخرین دعوت شده‌ها</h2>
                        </div>
                        <div class="name">
                            {%for i in invitees%}
                            <div class="person p{{loop.index}} neonText {{'me' if i==current_user}}">
                                <h4>{{invites_index(i,inv)}}</h4>
                                <h4>{{i.invitee}}</h4>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-co">
                    <h2 class="sub-title">ارسال دعوتنامه</h2>
                    <label for="phone">شماره موبایل:</label>
                    <input type="text" id="phone" placeholder="09123456789">
                    <br>
                    <button onclick="sendSMS()">ارسال دعوتنامه</button>
                </div>
            </div>
            <div id="footer">
                <h4 id="copyRight">© تمام حقوق برای مسابقه دانا پلاس شو محفوظ است</h4>
            </div>
        </div>
    </div>

    <script>
        function sendSMS() {
            const phoneNumber = document.getElementById('phone').value;
            const message = "سلام دوست عزیز!\nامیدوارم حالت خوب باشه. من یه خبر خوب برات دارم:\nتو میتونی از طریق لینک زیر وارد مسابقه بزرگ «دانا پلاس شو» بشی و با خوندن کتاب، کلی جایزه ببری!\n{{ url_for('user.register', _external=True) }}?invite={{current_user.invite_auth}}"
            const smsLink = `sms:${phoneNumber}?body=${encodeURIComponent(message)}`;

            const smsAnchor = document.createElement("a");
            smsAnchor.href = smsLink;
            document.body.appendChild(smsAnchor)

            smsAnchor.click()
            smsAnchor.remove()
        }
    </script>
{% endblock %}