{% extends "Base.html" %}
{% block head %}
    <title>ورود کاربران</title>
{% endblock %}
{% block body %}
    <h1>صفحه ورود کاربران</h1>
    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <input type="text" name="username" placeholder="نام کاربری">
        <input type="password" name="password" placeholder="رمز عبور">

        <input type="submit" value="ورود">
    </form>
    <br>
    <a href="/register{% if next is not none %}?next={{ next }}{% endif %}">ثبت نام</a>
{% endblock %}