{% extends "Base.html" %}
{% block head %}
    <title>آزمون {{book.name}} | دانا پلاس شو</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/quiz.css') }}">
{% endblock %}
{% block body %}
<div id="continer">
    <div id="content-wrp">
        <div id="main">
            <h1 id="timer"></h1>
            <form action="#" id="form" method="post"></form>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" form="form">
            {% for q in questions %}
            <div class="person p5 question_box">
                <div class="question">
                    <h3>
                        <pre>{{loop.index}} -   </pre>{{q.text}}
                    </h3>
                </div>
                {% for o in randomizer(q.option1 , q.option2 , q.option3 , q.option4) %}
                <div class="option">
                    <input type="radio" name="o{{q.id}}" id="o{{q.id}}_{{loop.index}}" form="form" value="{{o}}">
                    <label class="option-l cir" for="o{{q.id}}_{{loop.index}}"></label>
                    <label class="option-l text" for="o{{q.id}}_{{loop.index}}">{{o}}</label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="submit" value="ثبت آزمون" form="form">
        </div>
        <div id="footer">
            <h4 id="copyRight">© تمام حقوق برای مسابقه دانا پلاس شو محفوظ است</h4>
        </div>
        </div>
    </div>
</div>





<script>
    function timer(){
        var examDuration = {{book.time}}; 
        var examStartTime = new Date().getTime(); 

        var examTimer = setInterval(function() {
        var currentTime = new Date().getTime();
        var elapsedTime = currentTime - examStartTime;
        var remainingTime = examDuration - Math.floor(elapsedTime / 1000);

        var minutes = Math.floor(remainingTime / 60);
        var seconds = remainingTime % 60;

        document.getElementById("timer").textContent = minutes + ":" + String(seconds).padStart(2, '0');

        if (remainingTime <= 0) {
            clearInterval(examTimer);
            document.querySelector('form').submit();
            
        }
        }, 1000);
    }
    timer()
</script>

<script type="module">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
    
                    {% if 'امتیاز' in message %}
                    swal({
                        title: '{{message}} به شما تعلق گرفت!',
                        html: "با توجه به نتایج این نوبت و بهترین نتیجه شما برای این آزمون، {{message}} به حساب شما اضافه شد.",
                        type: 'success',
                        confirmButtonColor: '#3f9b0b',
                        confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> باشه</div>',
                        showCloseButton: true,
                        showLoaderOnConfirm:true,
                        allowOutsideClick:false,
                    }).then((result) => {swal.close();})
                    {% endif %}
    
                {% endfor %}
            {% endif %}
        {% endwith %}
</script>
{% endblock %}