{% extends "Base.html" %}
{% block head %}
    <script type="module">
        function checkPass() {
            alert("SDf")
            // می‌توانید شرایط خود را در اینجا بررسی کنید
            let password = document.querySelector("input[name='password']").value;
            let config = document.querySelector("input[name='password_co']").value;
        
            // اگر نام کاربری خالی باشد، ارسال فرم را متوقف کنید
            if (password == config) {
                alert("سورد یکی نیس");
                return false; // جلوگیری از ارسال فرم
            }
        
            // در غیر این صورت، فرم ارسال می‌شود
            return true;
        }
    </script>
    <title>ثبت نام کاربران</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.min.css') }}">
    <script defer src="{{ url_for('static', filename='libraries/sweetalert2/sweetalert2.all.min.js') }}"></script>


{% endblock %}
{% block body %}
    <h1>صفحه ثبت نام کاربران</h1>
    <form action="#" method="post" id="form" onsubmit="checkPass()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="firstname" placeholder="نام" id="a" data-required>
        <input type="text" name="lastname" placeholder="نام خانوادگی" data-required>
        <br>
        <input type="text" name="username" placeholder="نام کاربری" data-required>
        <input type="text" name="birth" placeholder="تاریخ تولد" data-required>
        <br>
        <input type="password" name="password" placeholder="رمز عبور" data-required>
        <input type="password" name="password_co" placeholder="تکرار رمز عبور" data-required>
        <br>
        <input type="text" name="code" placeholder="کد ملی">
        <input type="tel" name="phone" maxlength="11" minlength="11"  placeholder="09125536125" pattern="[0-9]{11}" data-required>
        <br>
        <input type="radio" name="gender" id="man" value="man" data-required>
        <label for="student">آقا</label>
        <input type="radio" name="gender" id="woman" value="woman" data-required>
        <label for="teacher">خانم</label>
        <br>
        <input type="radio" name="type" id="student" value="student" onchange="radio()" checked data-required> 
        <label for="student">دانش آموز</label>
        <input type="radio" name="type" id="teacher" value="teacher" onchange="radio()" data-required>
        <label for="teacher">فرهنگی</label>
        <br>
        <input type="email" name="email" id="email" placeholder="ایمیل">
        <br>
        <select name="grade" id="grade" data-required>
            <option disabled selected value="">پایه تحصیلی</option>
            <option value="1">دوره اول ابتدایی</option>
            <option value="2">دوره دوم ابتدایی</option>
            <option value="3">دوره متوسطه اول</option>
            <option value="4">دوره متوسطه دوم</option>
        </select>
        <br>
        <select name="province" id="province" onchange="fetchCities(this.value)">
            <option selected disabled value="">انتخاب استان</option>
            <option value="تهران">تهران</option>
            <option value="اصفهان">اصفهان</option>
        </select>
        
        <select name="city" id="city">
            <option value="">انتخاب شهر</option>
        </select>
        <br>
        <input type="text" name="school_name" id="school_name" placeholder="نام مدرسه">
        <select type="text" name="school_type" id="school_type">
            <option selected disabled value="">نوع مدرسه</option>
            <option value="1">دولتی</option>
            <option value="2">نمونه دولتی</option>
            <option value="3">هیئت امنایی</option>
            <option value="4">غیر انتفاعی</option>
            <option value="5">شاهد</option>
            <option value="6">تیزهوشان</option>
            <option value="7">استثنائی</option>
        </select>

        <textarea name="addres" id="addres" placeholder="آدرس" form="register"></textarea>
        <br>
        <select name="recognition" id="recognition">
            <option selected disabled value="">شیوه آشنایی</option>
            <option value="1">روش اول</option>
            <option value="2">روش دوم</option>
            <option value="3">روش سوم</option>
        </select>
        {% if inviting == true%}
        <input type="text" name="invite" id="invite" placeholder="کد معرف" maxlength="6" data-required>
        {% endif%}

        <input type="submit" value="ثبت نام">
    </form>
    <script type="module">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == "unique"%}
                    swal({
                        title: 'مشخصات قبلا در سامانه ثبت شده!',
                        html: 'این مشخصات قبلا در سامانه ثبت شده است. لطفا مشخصات دیگری وارد کنید.',
                        type: 'warning',
                        confirmButtonColor: '#ffc000',
                        confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> تائید</div>',
                        showCloseButton: true,
                        showLoaderOnConfirm:true,
                        allowOutsideClick:false,
                    }).then((result) => {swal.close();})
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
    <script>
        function radio() {
                var radios = document.querySelector('#student');
                if (radios.checked) {
                    document.querySelector("#grade").style.display= "inline";
                }else{
                    document.querySelector("#grade").style.display= "none";
                }};
        
    </script>
    <script>

        function fetchCities(province) {
            if (province === "") {
                document.getElementById("city").innerHTML = "<option value=''>انتخاب شهر</option>";
                return;
            }
        
            // ارسال درخواست AJAX به سرور برای دریافت شهرها
            fetch(`/get_cities/${province}`)
                .then(response => response.json())
                .then(cities => {
                    let options = "<option value=''>انتخاب شهر</option>";
                    cities.forEach(city => {
                        options += `<option value='${city}'>${city}</option>`;
                    });
                    document.getElementById("city").innerHTML = options;
                })
                .catch(error => console.error('Error fetching cities:', error));
        }

    </script>

{% endblock %}