{% extends "Base.html" %}
{% block head %}
    <title>تیکت پشتیبانی | دانا پلاس شو</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/ticket.css') }}">
{% endblock %}
{% block body %}
<div id="container">
    <div id="side-wrp">
        <div id="logo-wrp">
            <img id="logo" src="" alt="">
        </div>
        <a href="{{ url_for('user.home') }}" class="icon-wrp">
            <i class="fa fa-home icon"></i>
            <h2>خانه </h2>
        </a>
        <a href="{{ url_for('user.activism') }}" class="icon-wrp">
            <i class="fa fa-comments icon"></i>
            <h2>کنشگری </h2>
        </a>
        <a href="{{ url_for('user.club') }}" class="icon-wrp">
            <i class="fa fa-trophy icon"></i>
            <h2>باشگاه </h2>
        </a>
        <a href="{{ url_for('user.profile') }}" class="icon-wrp">
            <i class="fa fa-user-circle icon"></i>
            <h2>پروفایل </h2>
        </a>
        <a href="{{ url_for('user.ticket') }}" class="icon-wrp active">
            <i class="fa fa-life-saver icon active"></i>
            <h2>تیکت </h2>
        </a>
    </div>
    <div id="content-wrp">
        <div id="heading">
            <h1>تیکت</h1>
        </div>
        <div id="main">
            <div class="content-wrp">
                <div class="chat-container">
                    {% for t in tickets%}
                        <div id="container{{loop.index}}" class="message {{'received' if t.type == 'invited' or t.type == 'coin_confirm' or t.type == 'comment_sta' or t.type == 'activism_sta' else 'sent'}}">
                            <p>{{t.content}}</p>
                            <div class="time-wrp">
                                <p class="time">{{t.time}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="buttons-wrp">
                    <button class="req" data-type="or">
                        من در اردو موسسه شرکت کردم
                    </button>
                    <button class="req" data-type="do">
                        من در دوره های مجازی شرکت کردم
                    </button>
                    <!-- <button>
                        ارسال فایل خلاصه کتاب
                    </button> -->
                    <button id="goft">
                        ارتباط آنلاین با «دانا پلاس شو»
                        <span id="counter" style="display: none;">5</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer">
            <h4 id="copyRight">© تمام حقوق برای مسابقه دانا پلاس شو محفوظ است</h4>
        </div>
        </div>
    </div>
</div>



<script>
document.querySelectorAll(".req").forEach(item => {
    item.addEventListener("click", event => {
        form = new FormData()

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{url_for("user.ticket_add", _external=True)}}', true);


        var data = { 'csrf_token': '{{ csrf_token() }}',
         'type': item.getAttribute('data-type'),
          'user_id':'{{current_user.id}}' };
        
        for (var key in data) {
            form.append(key, data[key]);
        }

        xhr.send(form);
        setInterval(function() {
            location.reload();
    }, 250);
    })
})
</script>


<script>
    function conv(paragraph){
        paragraph.innerHTML = paragraph.innerHTML
            .replace(/دستور_شروع_بولد/g, '<b>')
            .replace(/دستور_پایان_بولد/g, '</b>'); 
    }


    var paragraphs = document.getElementsByTagName("p");
    for (var i = 0; i < paragraphs.length; i++) {
        conv(paragraphs[i])
    }
</script>





<script type="text/javascript">
    !function(){var i="FF0m1a",a=window,d=document;function g(){var g=d.createElement("script"),s="https://www.goftino.com/widget/"+i,l=localStorage.getItem("goftino_"+i);g.async=!0,g.src=l?s+"?o="+l:s;d.getElementsByTagName("head")[0].appendChild(g);}"complete"===d.readyState?g():a.attachEvent?a.attachEvent("onload",g):a.addEventListener("load",g,!1);}();
</script>

<!--- Add lines below for Widget customization --->
<script>
    window.addEventListener('goftino_ready', function () {
        Goftino.setWidget({
            hasIcon: false,
            counter: '#counter'
        });

        document.getElementById("goft").addEventListener("click", function () {
            Goftino.toggle();
        });
    });
</script>
{% endblock %}